.item {
	position: relative;
}

.selected {
	background: #fafafa !important;
}

.actived {
	background: #aaa !important;
}

.header {
	color: rgb(46, 223, 193) !important;
}

.header:hover {
	color: rgb(115, 233, 213) !important;
}
