doctype html  
html(lang='en')  
    head
        link(rel="stylesheet", href="//cdn.muicss.com/mui-0.9.41/email/mui-email-styletag.css")
        link(rel="stylesheet", href="//cdn.muicss.com/mui-0.9.41/email/mui-email-inline.css")
        title jsislandclan
    body
        div
            div.mui-panel
                h3 From jsislandclan
                p Hi #{name}, 
                p
                    a(href= hyperlink.href).mui-btn.mui-btn--primary #{hyperlink.innerText}
