.field {
    text-align: left;
    position: relative;
}

.field label {
    display: block;
    text-align: left;
}

.validMessage {
    position: absolute;
    top: 0.5em;
    right: 2em;
    z-index: 1;
    color: #9f3a38;
}
